body {
    margin: 0;
    padding: 0;
}

#dropbox {
    background-color: #fafafa;
    border-bottom: 1px solid #c0c0c0;
}
#dropbox > input {
    display: none;
}
#dropbox > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-size: 20pt;
    line-height: 60px;
}

canvas {
    margin: 20px 10px;
    cursor: pointer;
}
canvas:first-child {
    margin-left: 20px;
}
canvas:last-child {
    margin-right: 20px;
}